<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Library | Shop Catalogue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!-- shop css -->
	<link href="css/shop.css" type="text/css" rel="stylesheet" media="all">
	<!-- checkout css -->
	<link href="css/checkout.css" type="text/css" rel="stylesheet" media="all">
	<!-- Range-slider-css -->
	<link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
	<!-- common-css -->
	<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">

	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<!-- logo -->
	<link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //online-fonts -->
	<!-- Toaster css -->
    <link rel="stylesheet" href="css/toastr.min.css">
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div id="home">
		<!-- header -->
		<!-- navbar -->
		<%- include('partials/nav') %>
		<!-- //navbar ends here -->
		<!-- banner -->
		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						world of reading
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		<!-- breadcrumbs -->
		
		<!--//breadcrumbs ends here-->
		<!-- Shop -->
		<div class="innerf-pages section">
			<div class="container-cart filter">
				<!-- filter left -->
				<div class="side-bar col-md-3">
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Filter</h3>
						<% if(filter != 'null') { %>
						<div class="container" style="width: 280px" id="filter_ctrl">
							<% filter.forEach((Item) => { %>
							<button class="btn btn-default btn-sm" style="margin:1%"><%= Item %>&nbsp;&nbsp;<span class="filter" style="color:red">&times;</span></button>
							<% })%>
						</div>
						<% } %>
					</div>
					<!--preference -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							Categories</h3>
						<ul>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Action & Adventure'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Action & Adventure">
								<span class="span">Action & Adventure</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Action & Adventure">
								<span class="span">Action & Adventure</span>
							<% } %>
							</li>
							<!-- --------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Art'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Art">
								<span class="span">Art</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Art">
								<span class="span">Art</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Biographies'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Biographies">
								<span class="span">Biographies</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Biographies">
								<span class="span">Biographies</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Children'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Children">
								<span class="span">Children</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Children">
								<span class="span">Children</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Comics'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Comics">
								<span class="span">Comics</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Comics">
								<span class="span">Comics</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Drama'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Drama">
								<span class="span">Drama</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Drama">
								<span class="span">Drama</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Encyclopedia'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Encyclopedia">
								<span class="span">Encyclopedia</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Encyclopedia">
								<span class="span">Encyclopedia</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Fantasy'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Fantasy">
								<span class="span">Fantasy</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Fantasy">
								<span class="span">Fantasy</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Fiction'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Fiction">
								<span class="span">Fiction</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Fiction">
								<span class="span">Fiction</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Health'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Health">
								<span class="span">Health</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Health">
								<span class="span">Health</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'History'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="History">
								<span class="span">History</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="History">
								<span class="span">History</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Horror'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Horror">
								<span class="span">Horror</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Horror">
								<span class="span">Horror</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Mystery'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Mystery">
								<span class="span">Mystery</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Mystery">
								<span class="span">Mystery</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Romance'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Romance">
								<span class="span">Romantic</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Romance">
								<span class="span">Romantic</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->

							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Science Fiction'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Science Fiction">
								<span class="span">Science Fiction</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Science Fiction">
								<span class="span">Science Fiction</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Travel'){ %>
								<input type="checkbox" class="checked" name='c_category' checked value="Travel">
								<span class="span">Travel</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name='c_category' value="Travel">
								<span class="span">Travel</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							
						</ul>
					</div>
					<!-- // preference -->
					<div class="search-hotel" style="display: none">
						<h3 class="shopf-sear-headits-sear-head">
							<span>author</span> in focus</h3>
						<form action="searchAuthor" method="post">
							<input type="search" placeholder="search here" name="search" required="">
							<input type="submit" value="Search">
						</form>
					</div>
					<!-- price range -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							<span>Price</span> range</h3>
						<ul>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '0-50'){ %>
								<input type="checkbox" class="checked" checked name="price_range" value="0-50">
								<span class="span">&#8377;0 - &#8377;50</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="price_range" value="0-50">
								<span class="span">&#8377;0 - &#8377;50</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '50-100'){ %>
								<input type="checkbox" class="checked" checked name="price_range" value="50-100">
								<span class="span">&#8377;50 - &#8377;100</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="price_range" value="50-100">
								<span class="span">&#8377;50 - &#8377;100</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '100-500'){ %>
								<input type="checkbox" class="checked" checked name="price_range" value="100-500">
								<span class="span">&#8377;100 - &#8377;500</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="price_range" value="100-500">
								<span class="span">&#8377;100 - &#8377;500</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '500-1000'){ %>
								<input type="checkbox" class="checked" checked name="price_range" value="500-1000">
								<span class="span">&#8377;500 - &#8377;1000</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="price_range" value="500-1000">
								<span class="span">&#8377;500 - &#8377;1000</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'More than 1000'){ %>
								<input type="checkbox" class="checked" checked name="price_range" value="More than 1000">
								<span class="span">More than &#8377;1000</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="price_range" value="1000">
								<span class="span">More than &#8377;1000</span>
							<% } %>
							</li>
							<!-- ----------------------------------------------- -->
							<li>
						</ul>
					</div>
					<!-- //price range -->
					<!--preference -->
					<div class="left-side" style="display: none">
						<h3 class="shopf-sear-headits-sear-head">
							<span>latest</span> arrivals</h3>
						<ul>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'less than 30'){ %>
								<input type="checkbox" class="checked" checked 	name="arrivals" value="less than 30">
								<span class="span">last 30 days</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="arrivals" value="less than 30">
								<span class="span">last 30 days</span>
							<% } %>
							</li>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'less than 90'){ %>
								<input type="checkbox" class="checked" checked name="arrivals" value="less than 90">
								<span class="span">last 90 days</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="arrivals" value="less than 90">
								<span class="span">last 90 days</span>
							<% } %>
							</li>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'less than 150'){ %>
								<input type="checkbox" class="checked" checked name="arrivals" value="less than 150">
								<span class="span">last 150 days</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="arrivals" value="less than 150">
								<span class="span">last 150 days</span>
							<% } %>
							</li>

						</ul>
					</div>
					<!-- // preference -->
					<!-- discounts -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Language</h3>
						<ul>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'English'){ %>
								<input type="checkbox" class="checked" checked name="lang" value="English">
								<span class="span">English</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="lang" value="English">
								<span class="span">English</span>
							<% } %>
							</li>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'Hindi'){ %>
								<input type="checkbox" class="checked" checked name="lang" value="Hindi">
								<span class="span">Hindi</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="lang" value="Hindi">
								<span class="span">Hindi</span>
							<% } %>
							</li>
							<!-- <li>
								<input type="checkbox" class="checked">
								<span class="span">Spanish</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Japanese</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">German</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Korean</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Chinese</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">French</span>
							</li> -->
						</ul>
					</div>
					<!-- //discounts -->
					<!-- Binding -->
					<!-- <div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Format</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Hardcover</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Board Book</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Bundle</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Paperback</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Audio Book</span>
							</li>
						</ul>
					</div> -->
					<!-- //Binding -->
					<!-- discounts -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Discount</h3>
						<ul>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == 'free'){ %>
								<input type="checkbox" class="checked" checked name="dis_filter" value="free">
								<span class="span">free</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="dis_filter" value="free">
								<span class="span">free</span>
							<% } %>
							</li>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '0%-20%'){ %>
								<input type="checkbox" class="checked" checked name="dis_filter" value="0%-20%">
								<span class="span">0% - 20%</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="dis_filter" value="0%-20%">
								<span class="span">0% - 20%</span>
							<% } %>
							</li>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '20%-40%'){ %>
								<input type="checkbox" class="checked" checked name="dis_filter" value="20%-40%">
								<span class="span">20% - 40%</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="dis_filter" value="20%-40%">
								<span class="span">20% - 40%</span>
							<% } %>
							</li>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '40%-60%'){ %>
								<input type="checkbox" class="checked" checked name="dis_filter" value="40%-60%">
								<span class="span">40% - 60%</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="dis_filter" value="40%-60%">
								<span class="span">40% - 60%</span>
							<% } %>
							<li>
							<%  var check = false %>
							<%	if(filter != 'null') { %>
								
								<% filter.forEach((Item) => {if(Item == '60% or more'){ %>
								<input type="checkbox" class="checked" checked name="dis_filter" value="60% or more">
								<span class="span">60% or more</span>
								<% check = true }}) %>
							<% } else { check = false } %>
							<% if(!check){ %>
								<input type="checkbox" class="checked" name="dis_filter" value="60% or more">
								<span class="span">60% or more</span>
							<% } %>
							</li>
						</ul>
					</div>
					<!-- //discounts -->
					<!-- reviews -->
					<div class="customer-rev left-side" style="display: none">
						<h3 class="shopf-sear-headits-sear-head">Customer Review</h3>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<span>5.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>4.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>3.5</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>3.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>2.5</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- //reviews -->


				</div>
				<!-- //product left -->
					
				
				<!-- product right -->
				<div class="left-ads-display col-md-9">
					<% if(message != null){ %>
			        <div class="alert alert-info alert-dismissible fade in">
			          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			          <strong>Info!</strong> <%= message %>
			        </div>
			        <% } %>
				
					<div class="wrapper_top_shop">
						<!-- product-sec1 -->
						<div class="product-sec1">
							<!-- row1-->
							<% book.forEach((bookObj) => { %>
							<div class="col-md-3 product-men">
								<div class="product-chr-info chr">
									<div class="" style="height: 220px;width:160px;border:1px solid blue">
										<a href="single_product?bid=<%= bookObj.bid %>">
											<!-- <img src="images/lib3.jpg" alt=""> -->
											<img src="uploads/images/<%= bookObj.image %>" style="max-height: 100%;max-width: 100%" alt="loading img">
										</a>
									</div>
									<div class="caption">
										<h4><%= bookObj.bname %></h4>
										<p><%= bookObj.aname %></p>
										<div class="matrlf-mid">
											<ul class="rating">
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star gray-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star gray-star" aria-hidden="true"></span>
													</a>
												</li>
											</ul>
											<% if(bookObj.option == 'free') { %>
											<ul class="price-list">
												<li><%= bookObj.option %></li>
												<li></li>
											</ul>
											<% } else { %>
											<ul class="price-list">
												<li>&#8377;<%= bookObj.oprice %></li>
												<li>&#8377;<%= bookObj.aprice %></li>
											</ul>
											<% } %>
											<div class="clearfix"> </div>
										</div>
										<br>
										<form action="addCart" method="post">
											<button type="submit" class="btn btn-primary btn-lg" style="background-color: #0044cc">
												<input type="hidden" value="<%= bookObj.bid %>" name="bookdetail">
									        	<span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
									        </button> 
								        </form>
										<!-- <form action="addCart/<%= bookObj %>" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="chr_item" value="<%= bookObj.bname %>">
											<input type="hidden" name="amount" value="<%= bookObj.price %>">
											<button type="submit" class="chr-cart pchr-cart">Add to cart
												<i class="fa fa-cart-plus" aria-hidden="true"></i>
											</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form> -->
									</div>
								</div>
							</div>
							<% }) %>
							<!-- //row1 -->
							<!-- row2 -->
							<!-- //row2 -->
							<!-- row3 -->
							<!-- //row3 -->
							<div class="clearfix"></div>

						</div>

						<!-- //product-sec1 -->
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<!--// Shop -->
 <!-- footer -->
 <%- include('partials/footer') %>
<!-- //footer -->
</div>
<!-- //home -->
	<!-- js -->
	<!-- Common js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script src="js/customjs/filter.js"></script>
	<script src="javascript/toastr.min.js"></script>
	<script>
		chr.render();

		chr.cart.on('new_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- price range (top products) -->
	<script src="js/jquery-ui.js"></script>
	<script>
		//<![CDATA[ 
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [0, 1000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->

	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="js/main.js"></script>
	<!--search jQuery-->

	<!-- Scrolling Nav JavaScript -->
	<script src="js/scrolling-nav.js"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->

	<script src="js/bootstrap.js"></script>
	<!-- start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

</body>

</html>